---
title: "cafe.title"
---

<p><%= t("cafe.intro") %></p>

<h2><%= t("cafe.time_title") %></h2>
<p><%= t("cafe.weekday") %> 10:00-17:00</p>

<h2><%= t("cafe.address_title") %></h2>
<p><%= t("cafe.address_body") %> (<a href="https://goo.gl/maps/kfJT8Z44xSJ2mE7W7" target="_blank"><%= t("cafe.address_map") %></a>)</p>

<p><%= t("cafe.address_direction") %></p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.599271127396!2d139.55970741264218!3d35.711477672463054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018effcd1aebbdf%3A0xdd92e241d56c0ccd!2z44Km44Kv44Op44Kk44OK44Kr44OV44KnIOOCr-ODqeODpOODjOOCow!5e0!3m2!1sen!2sjp!4v1687407000454!5m2!1sen!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
